.newCard {
	background-color:#d3cac4;
;
	box-sizing: unset;
	margin: 5px;
	padding: 5px;
	float: left;
	width: 29%;
	height: 150px;
	border: 2px solid black;
	 border-radius: 10px;
}
body{

	background-color:#fff; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
}
.button1 {
        layout-align="center center"

    }